# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/node_modules
/**/.pnp
/**/.pnp.js

# testing
/**/coverage

# next.js
/**/.next/
/**/out/

# production
/**/build

# misc
/**/.DS_Store

/**/.vscode
/**/.history
/**/.idea
/**/package-lock.json
/**/.env
/**/*.log
/**/db_data
/**/dist
/**/external
/**/.secrete*
/**/now*
/**/ignore
/**/stats.html
/**/.DS_Store
/**/generated-schema.graphql
/**/temp/**/*
/**/gcs.sql


**/public/precache.*.*.js
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/precache.*.*.js.map
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map