.cubes {
    position: absolute;
    /* top: 10%; */
    /* left: 50%; */
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* display: none; */
    overflow: hidden;
    /* background: url('../../assets/bgImg.svg') no-repeat; */
    /* background-position: center; */
    /* background-size: contain; */
    /* opacity: .3; */
}

.cube{
    position: absolute;
}

.cube{
    animation: transform infinite linear;
    animation-duration: 15s;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

@keyframes transform {
    0%{
        left: 50%;
        top: 0%;
    }
    25%{
        top: 50%;
        left: 0%;
    }
    50%{
        left: 50%;
        top: 100%;
    }
    75%{
        left: 100%;
        top: 50%;
    }
    100%{
        left: 50%;
        top: 0;
    }
}
.cube:nth-child(2){
    top: -10%;
    left: 50%;
    animation-delay: 3.5s;
}
.mainContainer {
    height: 95vh;
    width: 100%;
    /* background-color: aqua; */
    z-index: 5 all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer.dark{
    color: #fff;
}

.mainLockup {
    /* height: 40%; */
    /* border: red 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}

.mainLockup img{
    /* background-color: var(--background-color); */
    /* transform: scale(2); */
    width: 50%;
    transition: 2s;
    /* transform: scale(1); */
}
img:hover{
    cursor: pointer;
    /* animation: animate 2s ease-in-out infinite alternate; */
}

@keyframes animate {
    from{
        transform: scale(1) translateY(0);
    }
    to{
        transform: scale(1.3) translateY(-20px);   
    }
}

h3 {
    color: #6f6f6f;
}

.mainContainer.dark .mainLockup h3{
    color: #afafaf;
}


@media (max-width: 800px) {
    h1 {
        font-size: 28px;
    }

    .mainLockup {
        margin-top: -50px;
    }
}