.cubes {
    position: absolute;
    /* top: 10%; */
    /* left: 50%; */
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* display: none; */
    overflow: hidden;
}

.cube{
    position: absolute;
}

.cube{
    animation: transform infinite linear;
    animation-duration: 15s;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

@keyframes transform {
    0%{
        left: 50%;
        top: 0%;
    }
    25%{
        top: 50%;
        left: 0%;
    }
    50%{
        left: 50%;
        top: 100%;
    }
    75%{
        left: 100%;
        top: 50%;
    }
    100%{
        left: 50%;
        top: 0;
    }
}
.cube:nth-child(2){
    top: -10%;
    left: 50%;
    animation-delay: 3.5s;
}
.mainContainer {
    height: 95vh;
    width: 100%;
    /* background-color: aqua; */

    display: flex;
    align-items: center;
    justify-content: center;
}


.mainLockup {
    /* height: 40%; */
    /* border: red 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}

h3 {
    color: #6f6f6f;
}



@media (max-width: 800px) {
    h1 {
        font-size: 28px;
    }

    .mainLockup {
        margin-top: -50px;
    }
}