svg {
    /* z-index: -1; */
    position: absolute;
    /* top: var(--top); */
    /* left: var(--left); */
    /* opacity: 0.5; */
    /* animation: move 2s linear infinite; */

}


@keyframes move {
    /* 0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    } */
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(100%);
    }
}