.mainDiv{
    width: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* row-gap: 50px; */
}

.head{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:70px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.mainDiv.dark{
    background-color: #151515;
}

.mainDiv h1{
    font-size: 40px;
    /* margin-bottom: 50px; */
}

.mainDiv.dark h1{
    color: #fff;
}

.mainDiv.dark p{
    color: #fff;
}
.container{
    margin-top: 50px;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 100px;
}

.d{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lclass{
    margin-right: 50px;
    margin-top: -40px;
}

.rclass{
    margin-top: -40px;
}

@media (max-width: 800px) {

}
