.cardContainers{
    width: 80%;
    flex-shrink: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}

.h1{
    font-family: 'Open Sans';
    font-size: 70px;
    padding-bottom: 20px;
}



.bgr{
    position: absolute;
    left: 200px;
    top: 1200px;
    z-index: -1;
    scale: 1.6;
    opacity: 0.8;
}

.bgb{
    position: absolute;
    bottom: 170px;
    z-index: -1;
    scale: 1.4;
    right: 300px;
    opacity: 0.8;
}

.bgg1{
    position: absolute;
    bottom: 900px;
    right: 0px;
    transform: rotate(180deg);
    z-index: -1;
    opacity: 0.8;
}

.bgy1{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: -100px;
    opacity: 0.8;
}

.bgrp{
    position: absolute;
    bottom: 320px;
    scale: 1.4;
    z-index: -1;
    left: 100px;
    opacity: 0.8;
}

.bgbp{
    position: absolute;
    right: 400px;
    bottom: 0px;
    z-index: -1;
    opacity: 0.8;
}

.bggp{
    position: absolute;
    z-index: -1;
    right:-50px;
    transform: rotate(180deg);
    bottom: 300px;
    scale: 0.6;
    opacity: 0.8;
}

@media (max-width: 800px) {
    .cardContainers{
        width: 100%;
    }

    .bgr{
        margin-top: 600px;
        left: 0px;
        margin-left: -100px;
    }

    .bgb{
        bottom: 0px;
        left: 40px;
        top: 3600px;
    }

    .bgg1{
        bottom: 0px;
        top:2700px
    }

    .h1{
        font-size: 40px;
        margin: -50px 0px;
        text-align: center;
    }

    .bgrp{
        bottom: 700px;
        left: -100px;
    }

    .bggp{
        bottom: 100px;
        right: 10px;
        scale: 1.3;
    }
}