*{
    padding: 0%;
    margin: 0%;
  }
  
   .page404main{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: 103vh;
    padding-top: 70px;
    position: relative;
    margin-bottom: 45px;
  }
  .main.dark{
    background-color: #151515;
  }
  .page404{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  .pg404-conatinimg{
    overflow: hidden;
    position: absolute;
    right: 0%;
    width: 94vw;
    margin-top: 50px;
    height: 110vh;
    
  }
  
  .pg404_elp{
    height: 150%;
    width: 300px;
    margin-left: 5%;
    overflow: hidden;
    object-fit: fill;
    
  }
  
  .pg404-bg{
    right: 0px;
    z-index: 1;
    position: absolute;
    width: 795px;
    height: 393px;
    top: 26%;
  }
  
  .pg404-shtext{
    position: absolute;
    margin-left: 5%;
    margin-top: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  font-size: 55px;
  line-height: 131px;
  font-style: italic;
  color: #EA4335;
}

.not-found-pg{
  font-size: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  width: 100%;
  text-align: right;
  padding-right: 150px;
  color: #F4B400;
  bottom: 50px;
  height: max-content;
  overflow: hidden;
  position: absolute;
  text-shadow: 5px 5px rgba(148, 148, 148, 0.696);
}

  
  .pg404-bigtext{
    position: absolute;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 50px;
    
    color: #4285F5;
    line-height: 50px;
    width: 40%;
    margin-left: 5%;
    z-index: 1;
  }
  
  .pg404s1{
    margin-top: 0px;
    margin-left: 0px;
    width: fit-content;
    position: relative;
    font-size: 88px;
    font-weight: 800;
    color: rgba(56, 40, 43, 1);
  }


  .pg404-404err{
    width: 100%;
    position: absolute;
    margin-top: 80px;
    margin-left: -14%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeup .5s linear;
  }

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pg404-also-try {
  position: absolute;
  width: 450px;
  bottom: 210px;
  margin-left: 5%;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;

  color: #301F25;
  }

  .main.dark .pg404-also-try{
    color: white;
  }
  
  .pg404-btncont{
    position: absolute;
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 8%;
    left: 5%;
    z-index: 1;
  }
  
  .pg404-btn{
    box-sizing: border-box;
    width: 352px;
    padding: 10px;
    padding-left: 30px;
   margin-top: 20px;
  background: #0f9d58;
  border: 1px solid #085a32;
  border-radius: 31px;
  font-size: 22px;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 800;
  text-align: start;
  }
  
  

   .main{
    padding-top: 100px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    
   }

   .st0{fill:#F4B400;}
  .st1{opacity:0.2;}
  .st2{fill:#0F9D58;}
  .st3{fill:rgba(132, 121, 114, .4);}
  .st4{fill:#17315e;}
  .st5{fill:#E0E0E0;}
  .st6{fill:#BDBDBD;}
  .st7{opacity:0.64;fill:#212121;}
  .st8{fill:#4285F5;}
  .st9{opacity:0.8;fill:#afcbfb;}

  .st01{fill:#EA4335}
  .st02{fill: #4285F5;}
  .st03{fill: #0F9D58;}
  .st04{fill:#EA4335}
  .st05{fill: #4285F5;}
  .st06{fill: #0F9D58;}
  .st07{fill: #F4B400;}

  .st22{fill: white;}


  .st21{fill: #EA4335;}

 
  .st0n{fill: #8b8989;}

  .main.dark .st0n{
    fill: #ffffff;
    opacity: 1;
  }

  #error-404-img {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    margin-right: 100px;
    float: right;
  }
  
  #loupe {
    animation: bounceInUp 2s ease forwards;
    }
  
  
  #ombre-loupe {
    animation: fadeIn 2s 3s ease forwards;
  }
  
  #_x34_-gauche, #_x34_-droite, #ombre-loupe, #decorations {
      opacity: 0;
  }
  
  #_x34_-gauche, #_x34_-droite {
    animation: fadeIn 2s ease forwards;
  }
  
  #_x34_-gauche {
    animation-delay: 1s;
  }
  
  #_x34_-droite {
    animation-delay: 2s;
  }
  
  #decorations {
    transform-origin: center;
    animation: fadeIn 2s ease forwards, rotate-grow 50s linear infinite alternate;
    animation-delay: 4s;
  }
  
  @-webkit-keyframes rotate-grow {
    from {
         -webkit-transform: rotate(0) scale(.8);
      transform: rotate(0) scale(.8);
    }
  
    to {
         -webkit-transform: rotate(360deg) scale(1.5);
      transform: rotate(360deg) scale(1.5);
    }
  }
  
  @keyframes rotate-grow {
    from {
         -webkit-transform: rotate(0) scale(.8);
      transform: rotate(0) scale(.8);
    }
  
    to {
         -webkit-transform: rotate(360deg) scale(1.5);
      transform: rotate(360deg) scale(1.5);
    }
  }
  
  
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }

   /* responsive  */
   @media screen and (max-width:1200px) {

    .main{
      height: 110vh;
      margin-bottom: 0%;
    }

    #error-404-img{
      float: none;
      margin: auto;
    }
  
    .pg404-bigtext{
      margin-top: 600px;
      width: 90%;
    }
  
    .pg404-also-try{
      width: 95%;
      top:880px;
      bottom: 0%;
    }
  
    .pg404-btncont{
      bottom: 70px;
      top: 1000px;
    }

    .not-found-pg{
      width: 100vw;
      margin: auto;
      right: 0%;
      text-align: center;
      bottom: 0%;
      top:80px;
      padding-right: 0;
      font-size: 70px;
    }
  }
  
  @media screen and (max-width:530px){
    .main{
      padding-top: 60px;
      height: 105vh;
      margin-bottom: -10%;
    }

    .pg404-shtext{
      font-size: 30px;
      margin-top: -20px;
    }

    #error-404-img{
      padding-top: 60px;
    }

    .not-found-pg{
      top: -8%;
      font-size: 35px;
      text-shadow: 3px 3px rgba(148, 148, 148, 0.696);
    }
  
    .pg404-bigtext{
      font-size: 27px;
      margin-top: 115%;
      line-height: 35px;
    }
  
    .pg404-also-try{
      font-size: 25px;
      line-height: 30px;
      top:73%;
    }
  
    .pg404-btncont{
      width: 80%;
      left: 0%;
      top:75%;
      bottom: 10px;
    }
  
    .pg404-btn{
      width: 80%;
      font-size: 18px;
      
    }
  
    
  } 