* {
    margin: 0%;
    padding: 0%;
}



.mainb {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    /* background-color: #000000; */
}

.mainb.dark{
    background-color: #000;
}

.emailtop {
    position: absolute;
    margin: auto;
    top: 16vh;
    width: 80%;
}

.emailbottom {
    position: absolute;
    margin: auto;
    top: 11vw;
    width: 93%;
}

.bg_only {
    z-index: 1;
    position: absolute;
    right: 3%;
    top: 25vw;
    width: 35%;
}

.backall {
    margin-top: 6.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.sponsor {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 123px;
}

.talk {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    width: 80%;
    margin-top: 2%;
}

.sponsorbtn {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 15px 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 27px;
    margin-top: 80px;
    border-radius: 10px;


}

.greenbg {
    position: absolute;
    left: 0%;
    margin-top: 57%;
}

.abcd{
    right: 0%;
    top:70.6vw;
    position: absolute;
    overflow: hidden;
}

.yellowbg {
   margin-left: 15%;
    
}

.insisemail{
    margin-top: 11vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pques{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 25px;
margin-bottom: 5px;


color: #ffffff;

}

.contact{

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 85px;
line-height: 100px;
margin-bottom: 20px;
/* identical to box height */


color: #000000;
}

.would_love{
    text-align: center;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
text-align: center;
margin-top: 5px;
width: 54%;

color: #000000;

}

.main_conatct{
    width: 600px;
    margin-top: 20px;
    height: 450px;
    align-self: flex-start;
    margin-left: -12%;
    background-color: #ffffff;
    border-radius: 52px;
    box-shadow: 7px -7px 4px rgba(0, 0, 0, 0.25);
    

}

.contactform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:25px 50px;
}

.input{
    width: 100%;
    height: 46px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.doit{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    font-family: 'Open Sans';
}

.label{
    width: 100%;
    text-align: left;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
margin-top: 15px;
}

.submit{
    width: 150px;
    background-color: #4285F4;
    margin-top: 15px;
    padding:5px 10px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 33px;
color: white;
border: none;
border-radius: 10px;
}

  /* responsive */
  @media screen and (max-width:850px){
    .emailtop {
        top: 69vw;
    }

    .insisemail{
        margin-top: 18vw;
    }

    .pques{
        color: #4285F4;
    }
    
    .emailbottom {
        top: 74vw;
    }

    .bg_only{
        top:75vw;
    }

    .greenbg{
        top:90vw;
        height: 40vw;
        clip: rect(0, 600px, 330px, 0);
    }

    .mainb{
        margin-bottom: -30px;
    }

    .abcd{
        top:128vw;
        width: 48vw;

    

    }

    .yellowbg{
        margin-left: 43%;
    }

    .main_conatct{
        margin-left:8vw;
        width: 500px;
        height: 550px;
        margin-top: 6vw;
    }

    .bg_only{
        display: none;
    }

    .doit{
        height: 23vw;
    }

    .backall{
        margin-bottom: 8%;
    }

    .mainb.dark .would_love{
        color: white;
    }
  }

  @media screen and (max-width:450px){
    .insisemail{
        margin-top: 26vw;
    }

    .pques{
        font-size: 20px;
    }

    .contact{
        font-size: 40px;
        line-height: 40px;
    }

    .would_love{
        font-size: 13px;
        line-height: 18px;
        width: 80%;
    }

    .emailtop{
        top:90vw;
    }

    .emailbottom{
        top:95vw;
    }

    .main_conatct{
        margin-top: 10vw;
        width: 60vw;
        border-radius: 12px;
        height: 64vw;
    }

    .label{
        font-size: 14px;
        margin-top: 0px;
    }

    .input{
        margin-top: -2px;
        height: 20px;
    }

    .doit{
        height: 40px;
        padding: 2px;
    }

    .submit{
        margin-top: 10px;
        width: 40%;
        font-size: 14px;
        padding: 0px;
    }

    .contactform{
        padding: 10px;
    }

    .backall{
        margin-top: 15vw;
        margin-bottom: 20vw;
    }

    .sponsor{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .talk{
        font-size: 15px;
        line-height: 20px;
    }

    .sponsorbtn{
        margin-top: 40px;
        font-size: 15px;
        width: 40%;
        padding: 5px 15px;
        font-weight: 500;
    }

    .greenbg{
        top:130vw;
        height: 40vw;
    }

    .abcd{
        top:185vw;
        width: 48vw;

    

    }

    .yellowbg{

        scale: 0.5;
        margin-left: 3%;
    }
  }

  /* dark mode */

  /* chnge background of envelope top and bottom  to rgba(255, 0, 0, 0.41)*/

  .mainb.dark .contact{
    color: white;
  }

  /* .would_love{
    color: #FF9696;
  } */

  .mainb.dark .main_conatct{
    background-color: #454545;
    box-shadow: 7px -7px 4px rgba(0, 0, 0, 0.25);
    }
    
    .mainb.dark .label{
        color: white;
    }

    .mainb.dark .input{
        background-color: rgb(141, 139, 139);
    }

    .mainb.dark .doit{
        background-color: rgb(141, 139, 139);
    }

    .mainb.dark .sponsor{
        color: #4285F4;
    }

    .mainb.dark .talk{
        color: white;
    }

    .mainb.dark .sponsorbtn{
        background-color: yellow;
        font-weight: 600;
        color: #000000;
    }

    .mainb.dark .pques{
        color: yellow;
    }

    

