.container {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    /* background-color: aqua; */
}

.leftSection,
.rightSection {
    padding: 20px;
    width: 50%;
    /* height: 100%; */
}

.leftSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.leftSection p span {
    display: block;
    color: #6f6f6f;
}

.leftSection .socialBtns{
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    justify-content: flex-start;
    gap: 20px;
    padding: 0px 1px;

}
.socialBtns .socialbtn{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    aspect-ratio: 1/1;
    border: none;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
}
.rightSection {
    display: flex;
    align-content: flex-start;
    gap: 10px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: green; */
}

.rightSection .box {
    width: 50%;
    height: fit-content;
}



.box h2 {
    background: var(--bg-color) ;
    color: var(--color);
    width: fit-content;
    text-align: start;
    padding: 5px 10px;
    border-radius: 10px;
}

.box p {
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .rightSection,
    .leftSection {
        width: 100%;
        height: auto;
    }

    .leftSection {
        padding: 20px;
    }

    .rightSection {
        /* column-gap: 0; */
        justify-content: flex-start;
    }

    /* .rightSection .box { */
        /* width: 60%; */
    /* } */



    .box h2 {
        font-size: 20px;
    } 
}